body {
  transition: 0.3s;
  font-family: Arial;
  text-align: center;
  padding-top: 100px;
}
.dark {
  background-color: #222;
  color: white;
}
.light {
  background-color: white;
  color: black;
}
button {
  padding: 10px 20px;
  cursor: pointer;
}