/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
/* Page background */
body{
    background-color:#eef2f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
/* Profile Card */
.card{
    background-color:white;

    /* Box Model */
    padding:25px;
    border:2px solid #4a90e2;
    margin:20px;
    border-radius:12px;

    width:300px;
    text-align:center;
}
/* Name */
.name{
    font-size:24px;
    font-weight:bold;
    letter-spacing:1px;
    color:#333;
    margin-bottom:8px;
}
/* Role */
.role{
    font-size:16px;
    color:#4a90e2;
    text-decoration:underline;
    margin-bottom:15px;
}
/* Bio */
.bio{
    font-size:14px;
    line-height:1.6;
    letter-spacing:0.5px;
    color:#555;
    margin-bottom:20px;
}
/* Button */
.contact-btn{
    padding:10px 18px;
    background-color:#4a90e2;
    color:white;
    border:none;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
}
/* Hover Effect */
.contact-btn:hover{
    background-color:#2f6fc0;
}
