body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-container {
    margin: 20px;
    display: flex;
    gap: 10px;
}
#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 450px;
}
.task-item {
    display: flex;
    align-items: center;          /* vertical center */
    justify-content: center;      /* horizontal center */
    gap: 20px;
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Checkbox fix */
.complete-checkbox {
    margin: 0;
    transform: scale(1.2);
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}