body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchInput {
    padding: 10px;
    width: 300px;
    margin: 20px;
}
/* Product List */
#productContainer {
    width: 400px;
}
/* Product Card */
.product {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}
/* No Result */
.no-result {
    color: red;
    font-weight: bold;
    text-align: center;
}